body {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
}
.loader__line1,
.loader__line2,
.loader__line3 {
  margin-right: 5px;
  width: 30px;
  height: 60px;
  background-color: white;
}
.loader__line1 {
  animation: line1 1.3s infinite;
}
@keyframes line1 {
  0% {
    width: 13px;
    height: 50px;
  }
  50% {
    width: 13px;
    height: 80px;
  }
  75% {
    width: 13px;
    height: 50px;
  }
  100% {
    width: 13px;
    height: 50px;
  }
}
.loader__line2 {
  animation: line2 1.3s infinite 0.25s;
}
@keyframes line2 {
  0% {
    width: 13px;
    height: 50px;
  }
  50% {
    width: 13px;
    height: 80px;
  }
  75% {
    width: 13px;
    height: 50px;
  }
  100% {
    width: 13px;
    height: 50px;
  }
}

.loader__line3 {
  animation: line2 1.3s infinite 0.5s;
}
@keyframes line3 {
  0% {
    width: 13px;
    height: 50px;
  }
  50% {
    width: 13px;
    height: 80px;
  }
  75% {
    width: 13px;
    height: 50px;
  }
  100% {
    width: 13px;
    height: 50px;
  }
}
